html {
  background-color:white;
}

header {
  text-align: center;
  background-image:url(https://raw.githubusercontent.com/jbouzi12/phase-0-unit-1/master/week-1/imgs/road-image.JPG?token=8241921__eyJzY29wZSI6IlJhd0Jsb2I6amJvdXppMTIvcGhhc2UtMC11bml0LTEvbWFzdGVyL3dlZWstMS9pbWdzL3JvYWQtaW1hZ2UuSlBHIiwiZXhwaXJlcyI6MTQwODUwMzk5NH0%3D--c3a5b2d3f0b573f6969ae5c0e5f75394137c5126);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom:225px;
  padding-top: 100px;
  height:190px;
}
#blog-name {
  text-align: left;
  font-size: 60px;
  display: inline;
  color: rgb(217, 243, 169);
  text-shadow:2px 2px black;
}

#menu-bar {
  text-align: center;
  border: 1px solid #cdcdb4;
  background-color:#cdcdb4;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position:relative;
  box-shadow: inset 0 0 10px #000000;

}

ul {
  padding-left:30px;
  padding-right:30px;
}
li {
  display: inline;
  color:8b7355;
  padding: 0px 30px 0px 30px;
}
#search {
box-shadow: inset 0 0 10px #000000;
background-color: #a8a8a8;
}

.post {
  margin:15px 30px 0px 10px;
  background-color: #eee8cd;
  text-align: left;
  /*border-radius:5px;*/
  box-shadow: rgba(0,0,0,0.2) 10px 10px;
  padding-left: 20px;
  padding-right: 10px;
}
hr {
  float: left;
  display: block;
}
#date {
  display: block;
}
imgs {
  display:block;
}


a:visited {
  color:red;
  text-align: right;
}
a:hover {
  color:cc99ff;
}

#footer {
  text-align: center;
  background-color:white;
  margin:15px 4% 15px 2%;
  margin-top:15px;
  margin-bottom: 15px;
  border-radius: 2px;
  position: absolute;
}
h4 a {
  color:#6666cc;
  text-decoration:none;
  padding-left: 10px;
  padding-right: 10px;
  font-family:Comic Sans MS, sans-serif;
}

h4 span {
  color:6666cc;
  padding-left: 10px;
  font-family: Comic Sans MS, sans-serif;
}