html {
  background-color:white;
}

#header {
  text-align: center;
  border:1px solid blue;
  border-top-left-radius:15px;
  border-top-right-radius: 15px;
  background-color: #bdbdbd;
}
/*format div#menu after i lay out the content, provide borders and padding*/

#menu-bar {
  text-align: center;
  border: 1px solid black;
  background-color:#7e7e7e;
}
li {
  display: inline;
  border:1px solid black;
  background-color:#3f3f3f;
  color:white;
}

