
body {
  margin: 0;
  background: #212427;
  background-image:url(../imgs/road-image.JPG) no-repeat center center fixed;
  background-size: cover;
  display: block
}
div {
  display: block;
}
.header-wrapper {
  background-color:rgba(43, 120, 162, 1);
  margin-top: 1em;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

#container {
  margin: auto;
  width: 95%;
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: black;
}

.logo {
  float:left;
  padding: 0 10px 10px 0;
}

#my-name {
  font-weight:normal;
  font-size: 3em;
  color:white;
  line-height: .8em;
  margin: 15px 0;
  padding:0px;
  display: block;
  text-shadow:1px 1px black;
}


#sub-name {
  font-size: 0.9em;
  color:white;
}

nav {
  text-align: right;
  float:right;
  font-size:1.25em;
  padding-left: 0 0 10px 10px;
}

ul {
  padding-left:1.5em;
  padding-right:1.5em;
}
li {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

#blog-bar:hover #submenu{
  display: block;
  position: absolute;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}
#blog-bar:hover #submenu .nav-text {
  list-style: none;
  display: block;
  text-align: left;
  padding-left: 0px;
}
#submenu {
  display: none;
  z-index: 100;
  text-align: left;
}

.nav-text {
  display: none;
  width: 6.5em;
  font-family: inherit;
  text-align: center;
  font-size: inherit;
  clear: both;
  z-index: 99;
  right: 27%;
}



.clear {
  clear:both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  vertical-align: baseline;
  background: transparent;
}
.image-space {
  background: url(../imgs/cover-malcolm.JPG) no-repeat center center fixed;
  height: 22em;
  line-height: 1.4;
  background-size: cover;
  margin-top: -1em;
}
.title-box {
  height:200px;
  padding-top: 0px;
}

section {
  display: block;
}
h5 {
 display: inline;
}
h5:after{
 content:"\a";
 white-space: pre;
}


#contact-wrapper {
  background-color:#DFD5CC;
  width: 100%;
  font-family: Lato, sans-serif;

}
.contact-container {
  margin: auto;
  width: 100%;
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: black;
  float: left;
  background-color: white;
}

#contact {
  margin:auto 2.7em;
  background-color: white;

}

#contact h1{
  text-align: center;
  font-size: 2.5em;
}

#contact ul li a{
  color: black;
}


a {
  text-decoration: none;
  color:white;
}
a:hover {
  color:rgb(200, 200, 235);
  transition:all .2s ease-in;
}

footer {
  width: 100%;
  height:20%;
  text-align: center;
  margin:20px 4% 20px 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  clear: both;
}
h4 a {
  padding-left: 5px;
  padding-right: 5px;
}

h4 span {
  color:white;
  padding-left: 10px;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

img {
  width:50%;
}
#single {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2em;
}
.two-images {
  display:inline-block;
  padding-bottom:1.05em;
}
.left-img {
  width:50%;
  float:left;
  margin: auto;
}
.right-img{
  width:50%;
  float: right;
  margin: auto;
}
a img {
  width:25px;
  height:25px;
}
