html {
  /*background-color:rgb(172, 170, 170);*/

  /*overflow:scroll;*/
}
body {
  margin: 0;
  background: #B6C5C3;
  background-image:url(../imgs/cover-malcolm.JPG) no-repeat center center fixed;
  background-size: cover;
  display: block
}
div {
  display: block;
}
.header-wrapper {
  background-color::#521405;
  width: 100%;
  top: 50px;
  position: fixed;
  z-index: 1000;
}

#container {
  margin: auto;
  width: 960px;
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: white;
}/*
#top {
  margin:0px auto;
  padding:0 .3em;
}*/

.logo {
  float:left;
  padding: 0 10px 10px 0;
}

#my-name {
  font-weight:normal;
  font-size: 3em;
  color:white;
  line-height: .8em;
  margin: 15px 0;
  padding:0px;
  display: block;
  text-shadow: 2px 2px 2px #5c5a5a;
}


#sub-name {
  font-size: 0.9em;
  margin-bottom: 2em;
  color:white;
  text-shadow: 2px 2px 2px #5c5a5a;
}

nav {
  text-align: right;
  position:relative;
  float:right;
  font-size:1.25em;
  color:white;
}

ul {
  padding-left:30px;
  padding-right:30px;
  color:white;
}
li {
  display: inline;
  color:white;
  padding-left: 5px;
}

section {
  display: block;
}
h5 {
 display: inline;
}
h5:after{
 content:"\a";
 white-space: pre;
}

div {
  font-family: Lato, sans-serif;
  font-weight: bold
}
div p {
  padding-bottom: 1.5em;
}

#wrapper{
  width: 95%;
  margin: -5% 0 0 2.55%;
}

#about-wrapper {
  width: 60%;
  float: left;
}

.about {
  margin: 2em;
  background:rgb(255, 153, 0);
  opacity: .8;
  color:black;
  padding:.4em;
  float: left;
  width: 100%;
}

#portrait-wrapper {
  float: right;
  width: 40%;
}

figure {
  margin-top: 2em;
  padding-left: 2em;
}

figure img{
  width: 100%;
}
.portrait {
  margin-top: 11em;
  padding-left: 7.5%;
  display: inline-block;
  float: right;
  width:40%;
}

a {
  text-decoration: none;
  color:white;
}
a:hover {
  color:rgb(200, 200, 235);
  transition:all .2s ease-in;
}

h1 {
  font-size: 4aem;
  padding-top: 1.15em;
}


footer {
  text-align: center;
  /*background-color:rgb(172, 170, 170);*/
  margin:15px 4% 15px 2%;
  margin-top:15px;
  margin-bottom: 15px;
  border-radius: 2px;
  clear:both;
}
h4 a {
  padding-left: 5px;
  padding-right: 5px;
}

h4 span {
  color:white;
  font-weight: bold;
  padding-left: 10px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  text-shadow:2px 2px black;
}

img {
  width:75%;
}

a img {
  width:25px;
  height:25px;
}