body {
	margin: 0;
	font-size: 12px;
	display: block;
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
}
img {
	width: 100%;
	height:100%;
	display: none;
}
h1, h2 {
	font-size: 2em;
	text-align: center;
}
a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
}
a, .logo {
	transition:.4s ease-in;
}
a, button {
	cursor: pointer;
}
a:hover, .logo:hover {
	color: rgb(91, 231, 178);
}
hr {
	margin: 5em 3em 5em 3em;
}
li {
	list-style: none;
}
span, button {
	color: white;
	background-color: rgb(72, 187, 144);
	padding: 10px;
}
button {
  -webkit-box-shadow: inset 0 -2px rgb(64, 168, 129);
  box-shadow: inset 0 -2px rgb(64, 168, 129);	
  border: none;
}
blockquote {
	font-style: italic;
	color: rgb(224, 206, 111);
}
blockquote:before {
	content: "\"";
}
blockquote:after {
	content:"\"";
}
.left {
	float: left;
}
.right {
	float: right;
}
/* Header */
header {
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
	margin-top: -16px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	padding:1em;
}
.menu ul {
	margin-right: 3em;
}
.menu li {
	display: inline-block;
	padding-right: 1em;
}
/* Main Banner */
#banner {
	background-image:url(../imgs/wash_monument.JPG);
	background-attachment: fixed, scroll;
	height: 50em;
	background-size: 100%;
	margin-top: -2em;
}
#banner h1 {
	padding-top: 8em;
	font-size: 3em;
}
#banner h1 span {
	border: 2px solid white;
	background-color: rgba(13, 13, 13, 0.39);
}
/* Gallery */
#gallery, #about, #contact, footer {
	padding: 2em;
}
.container {
	width: 100%;
}
#gallery blockquote {
	font-size: 2em;
}
#gallery .left{
	margin-left: 1em;
	width: 55%;
	height:45%;
}
#gallery .right{
	display: block;
	width: 28%;
	height: 25%;
	padding: 1em;
	margin-right: 6em;
}
/* About */
#gallery p, #about p {
	font-size: 1.5em;
}
#about {
	background-color: #F4F5F4;
	display: inline-block;
}
#about img {
	border-radius: 100%;
	width: 33%;
	height: 25%;
	margin-left: 4em;
}
figcaption {
	text-align: center;
	padding-left: 36em;
}
#about article {
	width: 50%;
	overflow: hidden;
}
 /* Contact */
 .email-form {
 	width: 65%;
 	height: 30px;
 }
 textarea {
 	width: 65%;
 	height: 100px;
 }
 .email-form, textarea {
 	margin-bottom: 1em;
 	padding: 10px;
 	font-size: 1.3em;
 }
 /*Footer*/
footer {
	background-color: #F4F5F4;
	text-align: center;
}
footer i {
	color: black;
}
footer li {
	display: inline-block;
}
footer li a {
	padding: .5em;
}