body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
	font-size: 12px;
	display: block;
	font-weight: 100;
	font-family: 'Titillium Web', sans-serif;
}
p {
	font-family: 'Josefin Slab', serif;

}
.built-with, .logo {
	font-family: 'Josefin Slab', serif;

}
img {
	width: 100%;
	height:100%;
}
h1, h2 {
	font-size: 2em;
	text-align: center;
}
a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
}
a, .logo {
	transition:.2s ease-in;
}
a, button {
	cursor: pointer;
}
a:hover, .logo:hover {
	color: rgb(91, 231, 178);
}
.fa-lg:hover {
	color: rgb(8, 239, 249);
}
a img {
	width: 25px;
	height: 25px;
}
#gallery hr {
	margin: 5em 3em 5em 3em;
}
li {
	list-style: none;
}
span, button {
	color: white;
	background-color: rgb(72, 187, 144);
	padding: 10px;
}
button {
  -webkit-box-shadow: inset 0 -2px rgb(64, 168, 129);
  box-shadow: inset 0 -2px rgb(64, 168, 129);	
  border: none;
}
blockquote {
	font-style: italic;
	color: rgb(224, 206, 111);
}
blockquote:before {
	content: "\"";
}
blockquote:after {
	content:"\"";
}
.left {
	float: left;
}
.right {
	float: right;
}

header, button, img, i {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26),0 2px 10px 0 rgba(0,0,0,.16);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26),0 2px 10px 0 rgba(0,0,0,.16);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26),0 2px 10px 0 rgba(0,0,0,.16);

}
/* Header */
header {
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: -16px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	padding:1em;
}
.menu ul {
	margin-right: 3em;
	padding-top: 1.4em;
}
.menu li {
	display: inline-block;
	padding-right: 1em;
}
/* Main Banner */
#banner {
	background-image:url(../imgs/wash_monument_opt.JPG);
	background-attachment: fixed, scroll;
	height: 50em;
	background-size: 100%;
	margin-top: -2em;
}
#banner h1 {
	padding-top: 8em;
	font-size: 3em;
}
#banner h1 span {
	border: 2px solid white;
	background-color: rgba(13, 13, 13, 0.39);
}

#gallery h2, #skills h2, #about h2,#projects h2, #contact h2 {
	font-size: 4em;
	margin-bottom: 15px;
}

/* Gallery */
#gallery, #contact, footer {
	padding: 2em;
}
.container {
	width: 100%;
}
#gallery blockquote {
	font-size: 2em;
}
#gallery .left{
	margin-left: 1em;
	width: 55%;
	height:45%;
}
#gallery .right{
	display: block;
	width: 28%;
	height: 25%;
	padding: 1em;
	margin-right: 6em;
}
/* About */
#gallery p, #about p {
	font-size: 1.5em;
}
#about h2 {
	text-align: left;
}
#about {
	background-color: #f0efec;
	text-align: left;
}
.about-img img{
	width: 300px;
}
.about-content, .about-img {
	display: inline-block;
	width: 50%;
	overflow: hidden;
	margin: 0;
	position: relative;
}

.about-content {
	padding: 10px;
}

.about-img {
  /*padding: 3em 6em 3em 6em;*/
	left: 8em;
	top: 6em;

}

/* Projects */
#skills, #projects, #contact, .about-content, #gallery {
  padding: 3em 6em 3em 6em;
  position: relative;
}
#projects {
  background-color: #e1e3e4;
}

#projects p {
  font-size: 1.3em;
}

.col-1 h3 {
	font-size: 1.5em;
}

/* Skills */

#skills {
  background-color: #307972;
  color: white;
}

#skills .col-md-6 {
	width: 45%;
}
#skills h3{
	text-align: left;
	font-size: 1.8em;
	color: rgb(208, 199, 152);

}
#skills h2 {
  margin-left: 0;
  text-align: center;

}

#skills li {
	font-size: 1.8em;
	text-align: left;
}

 /* Contact */
 .email-form {
 	position: relative;
 	width: 65%;
 }
 input {
 	width: 100%;
 	height: 30px;
 }
 textarea {
 	width: 100%;
 	height: 100px;
 }
 input, textarea {
 	margin-bottom: 1em;
 	padding: 14px 20px;
 	font-size: 1.3em;
 	background-color: #434242;
 	border: 0;
 	outline: none;
 	font-family: inherit;
 }
.email-form button{
	font-size: 20px;
	letter-spacing: 4px;
	padding: 20px 28px;
	border-radius: 3px;
	text-transform: uppercase;
}
 #contact {
	background-color: #222222;
	color: white;
 }
 /*Footer*/
footer {
 	background-color: #161616;
	text-align: center;
	width: 100%;
	height: 20%;
	color: rgb(182, 179, 179);
}
footer i {
	color: white;
}
footer li {
	display: inline-block;
}
footer li a {
	padding: .5em;
}