.grid-container {width: 100%}
.row:before, .row:after {content: "";display: table;clear: both}
[class*='col-'] {float: left;min-height: 1px; width: 16.66%;padding: 12px;background-color: pink}

.col-1 {width: 33.33%;border: 1px solid white}
.grid-container:after {content: "";display: table;clear: both}
*,*:after, *:before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}