html {
  background-image:url(https://raw.githubusercontent.com/jbouzi12/phase-0-unit-1/master/week-1/imgs/cover-malcolm-color.JPG?token=8241921__eyJzY29wZSI6IlJhd0Jsb2I6amJvdXppMTIvcGhhc2UtMC11bml0LTEvbWFzdGVyL3dlZWstMS9pbWdzL2NvdmVyLW1hbGNvbG0tY29sb3IuSlBHIiwiZXhwaXJlcyI6MTQwODkxOTg1OH0%3D--0dafbc05feaa7e2db113a0627deb439bb9378e4c);*/
  background-color: red;
  background-size: cover;
  margin:0;
}

header {
  float: right;
}
/*a:hover {
  color:rgb(200, 200, 235);
  transition:all .2s ease-in;
}*/

.welcome {
  opacity: .7;
  font-family: Lato, sans-serif;
  color:rgb(255, 153, 0);
  background:rgb (15, 15, 15);
  font-weight:bold;
}
#name {
  font-size: 5em;
  margin-bottom: -.2em
}
#description {
  font-size: 1.3em;
  margin-bottom: -1.5em;
}
#greeting {
  font-size: 5em;
}

footer {
  text-align: center;
  /*background-color:rgb(172, 170, 170);*/
  margin:15px 4% 15px 2%;
  margin-top:15px;
  margin-bottom: 15px;
  border-radius: 2px;
  clear:both;
}
h4 a {
  padding-left: 5px;
  padding-right: 5px;
}

a img {
  width:25px;
  height:25px;
}
img {
  width:75%;
}

h4 span {
  color:white;
  font-weight: bold;
  padding-left: 10px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  text-shadow:2px 2px black;
}