body {
  margin: 0;
  background: #151615;
  background-size: cover;
  font-family: Lato, sans-serif;
}

.fa-lg {
  color: white;
}

a {
  text-decoration: none;
  color:black;
}
a:hover, .fa-lg:hover {
  color:rgb(8, 239, 249);
  transition:all .2s ease-in;
}

a img {
  width:25px;
  height:25px;
}

img {
  width:75%;
}

/* Top Navigation Menu */
#nav-button {
  display: none;
  float: right;
  /*margin-right: 5em;*/
  padding-top: .5em;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay 0.3s;
  transform:translate3d(100%, 0, 0);
}
#nav-button i {
  font-size: 3.5em;
}
.slide-menu {
  margin-right: 1em;
  visibility: hidden;
  transition:visibility 0s .6s;
  position: relative;
}
.slide-menu li {
  background-color: rgba(0, 0, 0, 0.71);
}
.slide-menu li a {
  color:white;
}
.slide-menu.is-visible {
  font-size: 1.5em;
  visibility: visible;
  transition: visibility 0s 0s;
  margin-bottom: -4em;
}
.slide-menu li {
  display: block;
  margin-left: -2em;
}
.slide-menu li:before {
  content:none;
  padding: 0;
}
.is-visible {
  top: 0;
  transition: top 0.3s 0.3s;
}
.is-visible #nav-button {
  transform: translate3d(0, 0, 0);
  transition-delay:0s;
}

nav {
  float:right;
  font-size:1.45em;
  padding-right: 1em;
}


li {
  display: inline-block;
  position: relative;
}

li:before {
  content: "|";
  padding-right:.5em;
}
li:first-child:before {
  content: none;
}

.header-wrapper {
  background-color:white;
  width: 100%;
  padding: 1em 0 0 1em;
  position: fixed;
  z-index: 1000;
  margin-top: -1em;
}

.logo {
  float:left;
  margin-top: -10px;
}

.logo h1 {
  font-size: 2.2em;
  margin-bottom: 0;
}
.logo h2 {
  margin-top: 0;
  font-size: 1em;
}

/* Welcome Section, both background and 'Welcome' sign*/
.clear {
  clear:both;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  vertical-align: baseline;
  background: transparent;
}
#welcome {
  background: url(../imgs/road-image.JPG);
  background-attachment: fixed, scroll;
  height: 35em;
  line-height: 1.4;
  background-size: cover;
}
#title-box {
  height:200px;
  padding-top: 0px;
}

#title-box h1 {
  color: rgb(6, 5, 31);
  text-align: center;
  margin: 0 auto;
  font-size: 6em;
  transition: .4s ease-in;
  padding-left: 4.5%;
  padding-top: 23%;
}

h5 {
 display: inline;
}
h5:after{
 content:"\a";
 white-space: pre;
}

/* Wrappers separating each section of the site */
/* Each wrapper will have a background image, breaking up the content as users scroll*/
.wrapper {
  margin-bottom: -2em;
  margin-top: 0;
  width: 100%;
}

.wrapper h2 {
  text-align: center;
  font-size: 4em;
}

.wrapper-pic1, .wrapper-pic2 {
  height: 18em;
  background-size: cover;
  background-attachment: fixed, scroll;
}

.wrapper-pic1 {
  background-image: url(../imgs/amherst_trees.jpg);
}

.wrapper-pic2 {
  background-image: url(../imgs/between_trees.jpg);

}
/* About Me */
#skills, #about, #projects {
  padding: 3em 5em 3em 5em;
  position: relative;
}
#about {
  background-color:white;
}

#about p {
  font-size: 1.5em;
  text-indent: 2em;
}

#about img {
  text-align: center;
  border-radius: 100%;
  margin: 0px auto auto;
  max-width: 200px;
  display: block;
  margin-bottom: 4em;
}

hr {
  margin-bottom: 3em;
}
#skills, #contact, #projects {
  color: white;
}
/* Contact Section */
#contact {
  background-color: rgb(6, 74, 249);
  padding: 7em;
}
#contact h2 {
  margin: -1em auto 1em auto;
}

#form-div {
  width: 100%;
  margin-top:30px;
}

.feedback-input {
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  padding: 13px 13px 13px 54px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid rgb(12, 255, 24);
  outline: none;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}


#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}



/* Projects section */
#projects {
  background-color: rgb(72, 187, 144);
}

#projects p {
  font-size: 1.2em;
}

#skills {
  margin: 0;
}

/* Footer */
footer {
  width: 100%;
  height:20%;
  text-align: center;
  margin:20px 4% 20px 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
footer h4 a {
  padding-left: 5px;
  padding-right: 5px;
}

footer h4 span {
  color:white;
  font-weight: bold;
  padding-left: 10px;
}