body {
  margin: 0;
  background: #151615;
  background-image:url(../imgs/road-image.JPG) no-repeat center center fixed;
  background-size: cover;
  display: block;
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
  color:rgb(141, 139, 139);
}
a:hover {
  color:rgb(200, 200, 235);
  transition:all .2s ease-in;
}

a img {
  width:25px;
  height:25px;
}

img {
  width:75%;
}

nav {
  float:right;
  font-size:1.25em;
  padding-right: 4em;
}


li {
  display: inline-block;
  position: relative;
}

li:before {
  content: "|"
}
li:first-child:before {
  content: none;
}

.header-wrapper {
  background-color:white;
  width: 100%;
  padding: 1em 0 0 1em;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid black;
}

.logo {
  float:left;
  margin-top: -10px;
  font-weight: bold;
}

.logo h1 {
  font-size: 2.2em;
  margin-bottom: 0;
}
.logo h2 {
  margin-top: 0;
  font-size: 1em;
}

.clear {
  clear:both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  vertical-align: baseline;
  background: transparent;
}
#welcome {
  background: url(../imgs/road-image.JPG) no-repeat center center fixed;
  height: 35em;
  line-height: 1.4;
  background-size: cover;
}
#title-box {
  height:200px;
  padding-top: 0px;
}

#title-box h1 {
  color: rgb(6, 5, 31);
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  font-size: 6em;
  transition: .4s ease-in;
  padding-left: 4.5%;
  padding-top: 23%;
}

section {
  display: block;
}
h5 {
 display: inline;
}
h5:after{
 content:"\a";
 white-space: pre;
}


#archive {
  padding: .5em 0 0px 0;
  background-color:#DFD5CC;
  width: 100%;
  font-family: Lato, sans-serif;

}
#post {
  margin: auto;
  padding: 30px;
  margin:4em 0 0 0;
  background-color: white;
}

#post h1{
  padding-bottom: .5em;
  font-size: 3em;
}

footer {
  width: 100%;
  height:20%;
  text-align: center;
  margin:20px 4% 20px 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
footer h4 a {
  padding-left: 5px;
  padding-right: 5px;
}

footer h4 span {
  color:white;
  font-weight: bold;
  padding-left: 10px;
  font-weight: bold;
}


