@media all and (max-width: 800px) {
  nav {float:right;font-size:1.6em;padding-right: 1em}
  .header-wrapper {background-color:white;width: 100%;position: fixed;z-index: 1000;}
  .logo h1 {font-size: 2em;margin-bottom: 0;}
  #title-box {height:10em;padding-top: 0px;}
  #title-box h1 {color: white;font-size: 9em;transition: .4s ease-in;padding-left: 4.5%;padding-top: 30%;}
  #about {padding-bottom: 3em}
  #about p{font-size: 1.3em}
  #contact {padding: 2em 1em 2em 1em}
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {padding-right: 60px}

  #gallery hr {padding: 2em 3em 3em 3em }
  #projects {padding: 2em}
  #projects p {font-size: .8em}
  #projects h3 {font-size: 1.5em}
  footer {width: 100%;height:40%;text-align: center;padding: 2em 5em 1em 0}
  footer ul li:first-child, footer ul li:last-child {display: none}
}

@media all and (max-width: 690px) {
  header nav {display: none}
  #nav-button {display:block;margin-top:1em;margin-bottom: -7em;margin-right:0em;padding-top: 0}
  footer span{display: none}
  footer .fa {font-size: 1.4em}
  #about, #contact {padding:1em;}
  #about {margin-bottom: 2em}
  #welcome {background-size: 100%; height:30em;}
  #title-box h1 {font-size: 5.5em;padding-top:30%;}

  input, textarea {padding-right: 10px;font-size: .8em}
  .email-form button {font-size: 8px;}
  #projects {padding: 1em}
  #contact h2 {font-size: 3em;margin-bottom: 30px;}

}
@media all and (max-width: 585px){
  #welcome {background-size: 110%;height:28em;}
  #title-box h1 {padding-top:40%;}

}
@media all and (max-width: 545px){
  #welcome {background-size: 120%;height:28em}
}
@media all and (max-width: 495px){
  #welcome {background-size: 125%;height:25em;}
  #title-box h1 {padding-top:35%;}
}

@media all and (max-width: 406px){
  #nav-button {display:block;margin-bottom: -6.5em;padding-top: 0}
}
@media all and (max-width: 375px){
  #welcome {background-size: 130%;height:21em;}
  #title-box h1 {font-size: 4em; padding-top: 45%}
  #about {margin-bottom: 1em}
}