@media all and (max-width: 1200px) {
  #banner {height: 58em;}
}
@media all and (max-width: 800px) {
  .logo h1 {font-size: 2em;margin-bottom: 0;}
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {padding-right: 60px}

  .about-img {float: none; top:8em;left: 0;text-align: center;margin-bottom: 40px;}
  .about-img img {width: 70%;height: 70%}
  .about-content, .about-img {width: 100%}
  #gallery hr {padding: 2em 3em 3em 3em }
  #projects {padding: 2em}
  #projects p {font-size: .8em}
  #projects h3 {font-size: 1.5em}
  footer {width: 100%;height:40%;text-align: center;padding: 2em 5em 1em 0}
  footer ul li:first-child, footer ul li:last-child {display: none}
}

@media all and (max-width: 690px) {
  /*#about, #contact {padding:1em;}*/
  #about {margin-bottom: 2em}
  #welcome {background-size: 100%; height:30em;}
  #title-box h1 {font-size: 5.5em;padding-top:30%;}

  input, textarea {padding-right: 10px;font-size: .8em}
  .email-form button {font-size: 8px;}
  #projects {padding: 1em}
  #contact h2 {font-size: 3em;margin-bottom: 30px;}

}
@media all and (max-width: 585px){
  #gallery hr {padding: 1em 0em 1em 0em}
}